:root {
  --vPurple: #50f;
  --vGreen: #0f0;

  --vFontBody: 3rem;
  --vFont5: 5rem;

  --vBorderRadius: 0.8rem;

  font-size: 60%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--vPurple);
  color: #fff;
  
  text-align: center;
  font-size: var(--vFontBody);

  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20vh;
}

header > img {
  width: 10rem;
  height: 10rem;

  border: 0;
}

header > h1 {
  font-size: var(--vFont5);

  margin-left: 2rem;
}

#content {
  margin: auto;

  display: grid;
  grid-template-columns: 2fr;
  grid-template-areas: 
    "input"
    "input"
  ;
  gap: 2rem 5rem;
}

#content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.binary-input,
.decimal-input {
  grid-area: input;
  
  background-color: white;
  color: black;

  line-height: 3rem;
  font-size: 2.5rem;

  border: 0;
  border-radius: var(--vBorderRadius);

  padding: .5rem;

  max-width: 90vw;
}

.binary-input:empty::before,
.decimal-input:empty::before {
  color: lightgray;
}

.binary-input:empty::before {
  content: "Input 0 or 1";
}

.decimal-input:empty::before {
  content: "Input from 0 to 9";
}

footer {
  font-size: 2rem;

  margin: 5vh;
  margin-top: 20vh;
}

footer a {
  text-decoration: none;
  color: var(--vGreen);
}